<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85411043309-bed5eu2j8ns2r1dirf148gpovd8n7kbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85411043309-bed5eu2j8ns2r1dirf148gpovd8n7kbc</string>
	<key>API_KEY</key>
	<string>AIzaSyBDzfdYBflfHejRnfHjtFmGd90BugbqpxU</string>
	<key>GCM_SENDER_ID</key>
	<string>85411043309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>PROJECT_ID</key>
	<string>gsef-86fb7</string>
	<key>STORAGE_BUCKET</key>
	<string>gsef-86fb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:85411043309:ios:9a388ae62e8a1c7a1479e4</string>
	<key>DATABASE_URL</key>
	<string>https://gsef-86fb7.firebaseio.com</string>
</dict>
</plist>
